{% extends "base.html" %}
{% block head %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.twbsPagination.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% if form.category_name.errors %}
        {% for error in form.category_name.errors %}
            <div class="alert alert-danger mt-2">
                <strong>
                    {{ error }}
                </strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="main-content-container container-fluid px-0">
        <!-- Page Header -->
        <div class="page-header row no-gutters mt-2">
            <div class="col-8 col-sm-8 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">Category Table</h3>
            </div>
            <div class="col-4 col-sm-4 text-right justify-content-end">
                <a href="/category/create" class="btn btn-lg btn-accent ml-auto">
                    <i class="material-icons">add</i>Add new category
                </a>
            </div>
        </div>

        <!-- End Page Header -->
        <!-- Default Light Table -->
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col pl-0 pr-0">
                    <div class="card card-small mb-4">
                        <div class="card-body p-0 pb-3 text-center">
                            <table class="table mb-0">
                                <thead class="bg-light">
                                <tr>
                                    <th scope="col" class="border-0">Id</th>
                                    <th scope="col" class="border-0">Name</th>
                                    <th scope="col" class="border-0">Brand</th>
                                    <th scope="col" class="border-0">Action</th>
                                </tr>
                                </thead>
                                <tbody id="body-category">
                                <input style="display: none;" name="totalPages" id="totalPages"
                                       value="{{ total_pages }}"/>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modify category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('category.edit_category') }}" method="POST">
                        {{ form.csrf_token }}
                            <div class="form-group">
                                <label for="id_edit" class="col-sm-2" style="padding-left: 0">Id</label>
                                <input type="text" class="form-control form-control-lg" name="category_id" id="id_edit"
                                       readonly>
                            </div>
                            <div class="form-group">
                                <strong class="text-muted d-block mb-2">Name</strong>
                                <div class="input-group mb-3">
                                    {{ form.category_name(placeholder="Name", class="form-control", id="name_edit") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="brand_edit" class="col-sm-2"
                                       style="padding-left: 0">Brand</label>
                                <select class="form-control form-control-lg" name="brand_id"
                                        id="brand_id_edit">
                                    {% for brand in brands %}
                                        <option value="{{ brand.id }}">{{ brand.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close
                                </button>
                                <button type="submit" id="modify" class="btn btn-primary btn-lg">Modify</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end" id="pagination"></ul>
            </nav>
        </div>
    </div>
    <script type="text/javascript">
        $('#pagination').twbsPagination({
            totalPages: parseInt($("#totalPages").attr('value')),
            visiblePages: 2,
            onPageClick: function (event, page) {
                $('#page-content').text('Page ' + page);
                $.ajax('/category/api/list?page=' + page,
                    {
                        dataType: 'json',
                        success: function (data) {
                            var all_category = "";
                            $('#body-category').empty();
                            for (var i = 0; i < data.data.length; i++) {
                                var add_category = `
                                <tr>
                                    <td>` + data.data[i].id + `</td>
                                    <td>` + data.data[i].name + `</td>
                                    <td>` + data.data[i].brand_name + `</td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">EDIT</button>
                                    </td>
                                </tr>
                                `;
                                all_category = all_category + add_category;
                            }
                            $('#body-category').append($(all_category));
                            $(".btn.btn-info").on("click", function () {
                                var this_row = $(this).closest("tr");
                                var category_id = this_row
                                    .find("td")
                                    .eq(0)
                                    .text();
                                var category_name = this_row
                                    .find("td")
                                    .eq(1)
                                    .text();
                                var brand_name = this_row
                                    .find("td")
                                    .eq(2)
                                    .text();
                                $("#id_edit").val(category_id);
                                $("#name_edit").val(category_name);
                                $("#brand_name_edit").val(brand_name);
                            });
                        },
                        error: function (jqXhr, textStatus, errorMessage) { // error callback
                            $('p').append('Error: ' + errorMessage);
                        }
                    });
            }
        });
    </script>

{% endblock %}
